// BODY
$bodyBackgroundColor-DarkTheme: #272a2e;
$bodyTextColor: #3a3f52;
$bodyTextColor-DarkTheme: #eee;
$bodyParagraphTextColor: #53627C;
$bodyParagraphTextColor-DarkTheme: #53627C;
$bodyLinkColor-DarkTheme: #809fff;
//NAVBAR
$navbarBackgroundColor: #ffffff;
$navbarBackgroundColor-DarkTheme: #141516;
$navbarShadowColor: rgba(0,0,0,.09);
// HERO
$heroBackgroungColor: #f6f8f9;
$heroBackgroungColor-DarkTheme: #121212;
$heroParagraphColor: #8da2b5;
$heroParagraphColor-DarkTheme: #d6dce2;
$heroSpanColor: #0095f7;
$heroSpanColor-DarkTheme: #36a3ec;
// FOOTER
$footerBackgroundColor: #272a2e;
$footerBackgroundColor-DarkTheme: #141516;
$footerTextColor-DarkTheme: #62656a;
$footerItemColor: #62656a;
$footerItemColor-DarkTheme: #cacaca;
$footerHoverColor: #0e4977;
$footerHoverColor-DarkTheme: #6fc2fa;
// MISC
$externalLinkColor: #0e4977;